@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600&display=swap");

@font-face {
  font-family: Chew;
  font-weight: bold;
  src: url("./assets/fonts/ChewmepersonaluseBold-OV1n8.otf") format("opentype");
}

body {
  height: 100%;
  margin: 0;
  font-size: 1rem;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}
