@import './variables';

:export {
    light_pink_color: $light_pink_color;
    purple_color: $purple_color;
    light_pink_color: $light_pink_color;
    dark_pink_color: $dark_pink_color;
    dark_pink_color: $dark_pink_color;
}